<div class='center'>
    <div class="flex">
        <div>
            <%= image_tag @user.Photo %>
        </div>
        <div class="border">
            <div>
                <%= @user.Name %>
            </div>
            <div class='bottom_flex'>
                <%= "Number of posts: #{@user.PostCounter} " %>
            </div>
        </div>
    </div>
    <div class='border'>
        <p>Bio</p>
        <%= @user.Bio %>
    </div>

    <div class='borBtm'>
        <% @user.three_posts.each do |post| %>
            <div class='border borBtm flex jstSbt'>
                <div>
                    <div>
                        <%= " Post: #{post.title }"%>
                    </div>
                    </br>
                    <div>
                        <%= " Text: #{post.text}" %>
                    </div>
                </div>
                <div>
                    <%= "Comments: #{post.CommentCounter}" %>
                    <%= "Likes: #{post.LikesCounter}" %>
                </div>
            </div>
        <% end %>
    </div>

    <button>
    <%= link_to "See all posts" , user_posts_path(@user.id) %>
</button>
</div>
