<h1 >Add A New Post</h1>
<%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :new_post do |form| %>
  <div >
    <div >
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>

    <div >
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </div>
    <%= form.submit "Click to Add Post" %>
  </div>
<% end %>